@charset "utf-8";

body {
    font-size: 14px;
    margin: 0px;
}

h1 {
    font-size: 20px;
    margin: 0px;
    background: #b3ff8e;
    color: #000;
    margin-bottom: 0px;
    padding: 8px 20px 8px 20px;
    line-height: 120%;
}

h2 {
    font-size: 18px;
    background: #b3ff8e;
    margin-bottom: 0px;
    border-left: #60d13f solid 10px;
    padding: 3px 2px 3px 5px;
    line-height: 120%;
}

h3 {
    font-size: 15px;
    background: #d3ffbd;
    margin-bottom: 12px;
    border-left: #8ee674 solid 5px;
    border-right: #8ee674 solid 1px;
    border-bottom: #8ee674 solid 1px;
    padding: 2px 2px 1px 10px;
    line-height: 120%;
}

h4 {
    font-size: 14px;
    background: #dec;
    margin: 8px 0px 8px 0px;
    border-left: #aca solid 4px;
    padding: 3px 14px 2px 12px;
    line-height: 120%;
}

h5 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.nav_pc > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

hr {
    background: #8b8;
    border-style: solid;
    border-color: #aca;
    border-width: 1px 0px;
}

a:link {
    color:#080;
}

a:active {
    color:#25c;
    background-color:#cde;
}

a:visited {
    color:#0a0;
    background-color:inherit;
}

a:hover {
    color:#0a0;
    background-color:#bea;
}

table {
    border-collapse: collapse;
    margin-top: 6px;
    margin-bottom: 6px;
}

td {
    border: 1px solid #ccc;
    padding: 2px 5px 2px 5px;
}
th {
    border: 1px solid #ccc;
    padding: 2px 5px 2px 5px;
}
dt {
    font-weight:bold;
}

pre {
    display: table;
    border: solid;
    border-width: 2px;
    border-color: #fdc;
    margin: 8px 0px 8px 0px;
    padding: 8px 16px 8px 8px;
    background-color: #fff8ee;
    font-size: 13px;
}

code {
    border: solid;
    border-width: 0px;
    border-color: #fdc;
    padding: 2px 2px 2px 2px;
    background-color: #fff2e7;
    font-size: 13px;
}

/* codeのstyleを打ち消す */
pre > code {
    border: none;
    border-width: 0px;
    padding: 0px 0px 0px 0px;
    background-color: #0000;
}


.container{
    flex:1;
    display: flex;
    margin: 0px 8px 0px 8px;
}
.container_main{
    flex:1;
}
.nav_mobile{
    display: none;
}
.nav_pc{
    display: block;
    font-size: 12px;
}
header{
}
nav{
}
aside{
    font-size: 12px;
    margin: 0px 16px 0px 0px;
}
main{
    flex: 1;
}
footer{
    font-size: 12px;
    margin: 0px 8px 0px 8px;
}

/* * {
    outline: 1px solid #fcc;
} */

@media screen and (max-width: 600px) {
    body {
        overflow: auto;
    }
    .container {
        display: block;
    }
    .nav_mobile{
        display: block;
        font-size: 12px;
    }
    .nav_pc{
        display: none;
    }
    main {
        display: block;
    }
    aside {
        display: none;
        font-size: 12px;
        line-height: 120%;
    }
}