<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>%title - Tonyu1 Wiki</title>
    <link rel="stylesheet" href="style.css?20210411002" />
</head>

<body>
    <header>
        <h1>Tonyu System 1 - wiki (2021年版)(wiki作成中)</h1>
    </header>
    <nav>
        <hr>
    </nav>
    <div class="container">
        <aside>%sidebar</aside>
        <main>%content</main>
    </div>
    <footer>
        <hr>
    </footer>
</body>

</html>