<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>%title%</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="img/tnu.ico"/>
</head>

<body>
    <header>
        <h1>Tonyu System 1 - wiki</h1>
    </header>
    <div class="container">
        <aside>%sidebar%</aside>
        <div class="container_main">
            <nav>
                <div class="nav_pc">%nav_pc%</div>
                <div class="nav_mobile">%nav_mobile%</div>
            </nav>
            <hr>
            <main>
                %content%
            </main>
        </div>
    </div>
    <footer>
        <hr>
        %footer%
    </footer>
    <script>"%script%"</script>
</body>

</html>