<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tonyu1 Wiki</title>
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="https://makkii-bcr.github.io/Tonyu1-wiki/" />
    <meta property="og:title" content="Tonyu System 1 - wiki" />
    <meta property="og:description" content="Tonyu System 1 の新Wikiです。" />
    <meta property="og:image" content="https://makkii-bcr.github.io/Tonyu1-wiki/img/ogp-image.png" />
    <link rel="shortcut icon" type="image/x-icon" href="img/tnu.ico"/>
    <style type="text/css">/*%css*/</style>
</head>

<body>
    <script>"%script"</script>
    <header>
        <h1>Tonyu System 1 - wiki (2021年版)(wiki作成中)</h1>
    </header>
    <div class="container">
        <aside>%sidebar</aside>
        <div class="container_main">
            <nav>
                <div class="nav_pc">%nav_pc</div>
                <div class="nav_mobile">%nav_mobile</div>
            </nav>
            <hr>
            <main>
                %content
            </main>
        </div>
    </div>
    <hr>
    <footer>%footer</footer>
</body>

</html>