<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>%title%</title>
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="https://makkii-bcr.github.io/Tonyu1-wiki/" />
    <meta property="og:title" content="%title%" />
    <meta property="og:description" content="Tonyu System 1 の新しいWikiページです。今後はこのWikiを更新していきます。" />
    <meta property="og:image" content="https://makkii-bcr.github.io/Tonyu1-wiki/img/ogp-image.png" />
    <link rel="shortcut icon" type="image/x-icon" href="img/tnu.ico"/>
    <style type="text/css">/*%css%*/</style>
</head>

<body>
    <header>
        <h1 class="title_h">
            <img src="./img/tonyu-mini.png" class="logo" width="57" height="49"/><a href="./">Tonyu System 1 - wiki</a>
        </h1>
    </header>
    <div class="container">
        <aside>%sidebar%</aside>
        <div class="container_main">
            <nav style="color:#080">
                <div class="nav_pc">%nav_pc%</div>
                <div class="nav_mobile">%nav_mobile%</div>
            </nav>
            <hr>
            <main>
                %content%
            </main>
        </div>
    </div>
    <footer>
        <hr>
        %footer%
    </footer>
    <script>"%script%"</script>
</body>

</html>