@charset "utf-8";

body {
    font-size:15px;
    line-height:150%;
    /* margin-top: 0px;
    margin-bottom: 0px; */
}

h1, h2, h3 {
    background: #df8;
    margin-bottom: 0px;
    border-left: #af6 solid 10px;
    padding: 1px 2px 1px 5px;
    line-height:120%;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    line-height: 120%;
    margin-top: 12px;
    margin-bottom: 12px;
}

hr {
    border-style:ridge;
    /* border-color:#8b8; */
    border-color:#aca;
    border-width:1px 0px;
    margin-left: 0px;
    margin-right: 6px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    /* line-height:100%;
    margin-top: 0px;
    margin-bottom: 0px; */
}

a:link {
    color:#080;
    /* background-color:inherit; */
}

a:active {
    color:#25c;
    background-color:#cde;
}

a:visited {
    color:#080;
    background-color:inherit;
}

a:hover {
    color:#0a0;
    background-color:#bea;
}


.container{
    flex:1;
    display: flex;
}
header{
}
nav{
}
aside{
    font-size:12px;
    margin-right: 6px;
    line-height:110%;
}
main{
    flex:1;
}
footer{
}

/* * {
    outline: 1px solid #fcc;
} */

@media screen and (max-width: 600px) {
    body {
        overflow: auto;
        height:100%;
    }
    .container {
        display: block;
    }
    main {
        display: block;
    }
    aside {
        display: block;
    }
}