@charset "utf-8";

body {
    font-size:14px;
    line-height:120%;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1, h2, h3 {
    background: #ddff88;
    margin-bottom: 0px;
    border-left: #af6 solid 10px;
    padding: 1px 2px 1px 5px;
    line-height:120%;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

hr {
    border-style:ridge;
    border-color:#80bb80;
    border-width:1px 0px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}



a:link {
    color:#008800;
    background-color:inherit;
}

a:active {
    color:#215dc6;
    background-color:#CCDDEE;
}

a:visited {
    color:#008800;
    background-color:inherit;
}

a:hover {
    color:#00aa00;
    background-color:#BBEEAA;
}